<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="/static/css/bootstrap4.min.css">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/css/report-card.css">
</head>

<body>
  <!-- Static Table Start -->
  <div class="result-parent-div">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <div class="">

                <div style="margin-left: 45px;">
                  <img src="/static/img/student-modified/logo4.jpg" alt="" />
                  {{/* <img src="/static/img/student-modified/logo.jpg" alt="" /> */}}
                </div>



                <h3 id="current-term-header">THIRD TERM STUDENT'S PERFORMANCE REPORT</h3>

                <div class="d-flex justify-content-between bd-highlight mb-3">

                  <div class="p-2 bd-highlight">
                    <div>

                      NAME: <span id="student-name-underline">{{.Student.Name}}</span>
                      GENDER: <span id="student-gender-underline">{{.Student.Gender}}</span>
                    </div>
                    <div>
                      CLASS: <span class="student-basic-data">{{.Student.ClassText}}</span>
                      SESSION: <span class="student-basic-data">2020/2021</span>

                    </div>
                    <div class="performance-summary-table">
                      <table class="table table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th colspan="5" id="perfomance-summary">PERFORMANCE SUMMARY</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Total Obtained:</td>
                            <td class="bolded-text">{{.StudentTotalScore}}</td>
                            <td>PERCENTAGE</td>
                            <td class="bolded-text">{{.StudentPercentage}}%</td>
                            <td rowspan="2" id="overall-remark">
                              <!-- TODO: Send grade remark from backend -->
                              {{.OverallRemarkFromPercentage}}
                            </td>
                          </tr>
                          <tr>
                            <td>Total Obtainable:</td>
                            <td class="bolded-text">{{.TotalObtainable}}</td>
                            <td>GRADE</td>
                            <!-- TODO: Send grade from percentage from the backend -->
                            <td class="bolded-text">{{.OverallGradeFromPercentage}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>


                  </div>
                  <div class="p-2 bd-highlight">
                    <!-- <img src="/img/student-modified/testimage.jpg" alt="" /> -->
                    <!-- <img src="/img/student-modified/Paul_j[1].jpg" alt="" /> -->
                    <img src="/static/img/student-modified/{{.Student.Image}}" alt=""  height="190px"/>
                  </div>

                  <div>

                  </div>


                </div>

              </div>
            </div>
            <div class="">

              <table class="table table-bordered" {{if ge .TotalNumberOfSubject 13}} style="font-size: smaller;" {{end}}>
                <thead class="thead-light">
                  {{/* <tr>
                    <th scope="col">SUBJECTS</th>
                    <th scope="col">FIRST CA</th>
                    <th scope="col">SECOND CA</th>
                    <th scope="col">EXAM</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">GRADE</th>
                    <th scope="col">REMARKS</th>
                  </tr> */}}
                  {{$DidFirstTerm := .DidFirstTerm}}
                  {{ $DidSecondTerm := .DidSecondTerm}}
                  {{ $DepartmentConvertStudent := .Student.Name}}
                  <tr>
                        <th scope="col">SUBJECTS</th>
                        <th scope="col">FIRST CA</th>
                        <th scope="col">SECOND CA</th>
                        <th scope="col">EXAM</th>
                        <th scope="col">TOTAL</th>
                        {{ if $DidFirstTerm}}
                        <th scope="col">FIRST TERM</th>
                        {{ end }}
                        {{ if $DidSecondTerm}}
                        <th scope="col">SECOND TERM</th>
                        {{ end }}
                        <th scope="col">AVERAGE</th>
                        <th scope="col">GRADE</th>
                        <th scope="col">REMARKS</th>
                      </tr>
                </thead>
                <tbody>
                  {{ range  $index, $value := .SubjectScoreDetails}}
                  <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>{{.Subject.Name}}</td>
                    <!-- <td><a href="#" id="username" data-type="text" data-pk="1" data-title="Enter username">superuser</a></td> -->
                    <td>{{.StudentSubjectClass.TFirstCA}}</td>
                    <td>{{.StudentSubjectClass.TSecondCA}}</td>
                    <td>{{.StudentSubjectClass.ThirdExam}}</td>
                    <td>{{.StudentSubjectClass.TotalThird}}</td>
                    {{ if $DidFirstTerm}}
                    {{/* They didn't do yoruba in first term */}}
                    {{ if eq .Subject.Name  "YORUBA"}}
                    <td>-</td>
                    {{ else }} 
                    <td>{{.StudentSubjectClass.TotalFirst}}</td>
                    {{ end }}
                    {{ end }}
                    {{ if $DidSecondTerm}}
                    {{ if and (eq $DepartmentConvertStudent "AJIBOYE DESMOND NIFEMI") (eq .Subject.Name  "PHYSICS")}}
                    <td>-</td>
                    {{ else if and (eq $DepartmentConvertStudent "AJIBOYE DESMOND NIFEMI") (eq .Subject.Name  "CHEMISTRY")}}
                    <td>-</td>
                    {{ else }} 
                    <td>{{.StudentSubjectClass.TotalSecond}}</td>
                    {{ end }}
                    {{ end }}
                    <td>{{.StudentSubjectClass.Average}}</td>
                    <td>{{.StudentSubjectClass.GradeThird}}</td>
                    <td>{{.StudentSubjectClass.RemarkThird}}</td>
                  </tr>
                  {{end}}

                </tbody>
              </table>


            </div>
            <div>

            </div>
            <div class="teacher-remark-section">
              Teacher's Remark
              <div class="teacher-remark">
                {{.TeacherRemarks}}
              </div>
            </div>

          </div>
          Principal's Remark
          <div class="teacher-remark">
            {{.PrincipalRemarks}}
          </div>

          <div class="resumption-section">
            Next Term Begins: <span class="resumption-date">Mon, 13-Sept-2021</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>